body{
  background-color:gray;
  font-family: 'MyCustomFont', sans-serif;
  color:white;
}
  @font-face {
  font-family: 'MyCustomFont';
  src: url('Vazir.woff2') format('woff2');
}
@media (max-width: 768px) {
  .head {
    text-align:center;
    font-size: 40px;}
  .about_page{
    text-align:right;
    font-size:20px;
  }
}
.head{
  text-align:center;
}
.about_page{
  text-align:center;
}
