
body {
  background-color: gray;
  color: white;
  font-family: 'MyCustomFont', sans-serif;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('Vazir.woff2') format('woff2');
}

.about_page {
  text-align: center;
}

.head {
  text-align: center;
}


@media (max-width: 768px) {
  .head {
    font-size: 36px; 
  }
  .about_me {
    font-size: 16px;
    text-align: rhight; 
  }
}

/* استایل برای لپتاپ (عرض بین 1024px و 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {
  .about_me {
    text-align: right; 
  }
}
