h1{
  color:white;
}
.title{
  text-align:center;
}
body{
  background-color:gray;}
@font-face { font-family: 'MyCustomFont'; src: url('Vazir.woff2') format('woff2'), url('Vazir.woff') format('woff'); font-weight: normal; font-style: normal; } body { font-family: 'MyCustomFont', sans-serif; }
body { font-family: 'MyCustomFont', sans-serif; }
