
body {
  background-color: gray;
  color: white;
  font-family: 'MyCustomFont', sans-serif;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('Vazir.woff2') format('woff2');
}

@media (max-width: 768px) {
  .head{
    font-size:100px;
  }
  .about_me{
    font-size:40px;
    text-align:white;
  }
}

.about_page {
    text-align: center;
}
.head{
  text-align:center;
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .about_me{
      text-align:rhigt;
    }
}
